.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
button.slick-prev {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url("../images/anterior.png");
  top: 37%;
  left: 10%;
}
button.slick-next {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url("../images/proximo.png");
  top: 37%;
  right: 10%;
}
.slider-principal {
  width: 100%;
}
ul.slick-dots li {
  display: inline-block;
  font-size: 0px;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
ul.slick-dots li.slick-active {
  background-color: #00bac6;
}
