@{
    ViewData["Title"] = "Sobre";
}

<div class="row text-center">
    <div class="col-md-12">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div class="container">
    <div class="container-wrap">
        <p>Nós somos a PontoPlus</p>
    </div>
</div>


@* <div>
    <p>Use this page to detail your site's privacy policy.</p>
    <address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
    </address>

    <address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    </div> *@
