@model PontoPlus.PontoPlus.Domain.Entities.Usuario

@{
    ViewData["Title"] = "Recuperar minha senha";
}

<div class="login-form">
    <form asp-controller="Home" asp-action="Login" method="post">
        <div class="avatar">
            <img src="/images/avatar.png" alt="Avatar">
        </div>
        <div class="logo">
            <img src="/images/logo1.png" alt="logotipo">
        </div>
        @* <h2 class="text-center">Ponto+ Eletronico</h2> *@
        @{
            try
            {
                var erro = TempData["ErrorLogin"].ToString();
                <p class="alert alert-danger">@erro</p>
            }
            catch
            {
            }
        }
        <div>
            <h4 style="text-align: center;">Esqueceu a senha?</h4>
            <p>Não tem problema! Só precisamos do email que você usou ao criar seu cadastro.</p>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-off"></span> Enviar</button>
        </div>
    </form>
</div>