@model PontoPlus.PontoPlus.Domain.Entities.Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="login-form">
    <form asp-controller="Home" asp-action="Login" method="post">
        <div class="avatar">
            <img src="/images/avatar.png" alt="Avatar">
        </div>
        <div class="logo">
            <img src="/images/logo1.png" alt="logotipo">
        </div>
        @* <h2 class="text-center">Ponto+ Eletronico</h2> *@
        @{
            if (TempData["ErrorLogin"] != null)
            {
                var erro = TempData["ErrorLogin"].ToString();
                <p class="alert alert-danger">@erro</p>
            }
        }
        <div class="form-group">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" asp-for="Senha" placeholder="Senha">
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="checkbox">
            <label class="pull-left checkbox-inline" style="margin-right: 100px;">
                <input type="checkbox" value="" checked> Lembrar-me
            </label>

            <a asp-action="Forget" class="pull-right">Esqueceu a senha</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-off"></span> Entrar
            </button>
        </div>
        @* <div class="clearfix" style="margin-left: 50px;">
            <p>Solicitar acesso <a asp-action="Register" class="pull-right"> Cadastre-se</a></p>
            </div> *@
    </form>
</div>