@model PontoPlus.Manager.Domain.Entities.Usuario

@{
    ViewData["Title"] = "Novo Funcionário";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["Title"]</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <label asp-for="Nome" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Senha" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Senha" class="form-control" />
                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Departamentos" class="col-sm-4 col-form-label">Departamento</label>
                                <div class="col-sm-8">
                                    <select asp-for="Departamentos"
                                    asp-items="@(Html.GetEnumSelectList<PontoPlus.Manager.Domain.Enums.Departamentos>())"
                                    class="form-control"></select>
                                    <span asp-validation-for="Departamentos" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="EntradaAm" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="EntradaAm" class="form-control" />
                                    <span asp-validation-for="EntradaAm" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="SaidaAm" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="SaidaAm" class="form-control" />
                                    <span asp-validation-for="SaidaAm" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="EntradaPm" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="EntradaPm" class="form-control" />
                                    <span asp-validation-for="EntradaPm" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="SaidaPm" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="SaidaPm" class="form-control" />
                                    <span asp-validation-for="SaidaPm" class="text-danger"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Criar" class="btn btn-success" />
                <button type="button" class="btn btn-info"><a style="color: white; text-decoration:none"
                    asp-action="Index">Voltar</a></button>
            </div>
        }
    </div>
</div>