@model IEnumerable<PontoPlus.Manager.Domain.Entities.Usuario>
@{
    ViewData["Title"] = "Relatório de Horas Extras";

    var dateInitial = DateTime.Parse(ViewData["minDate"].ToString());
    var dateFinal = DateTime.Parse(ViewData["maxDate"].ToString());
}

@section Css{
<style>
    .btn-new a,
    .btn-list a {
        text-decoration: none;
        color: #2C3E50;
    }
</style>
}

<div>
    <h2 class="text-center">@ViewData["Title"]</h2>
</div>


<table class="table" style="margin-top: 10px;">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Nome) *@
                Funcionário
            </th>
            <th class="text-center">
                Total De Horas
            </th>
            <th class="text-center">
                Horas Extras
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var totalHoras = item.TotalHoras(dateInitial, dateFinal).ToString(@"hh\:mm");
            var totalHorasExtra = item.TotalHorasExtra(dateInitial, dateFinal);

            <tr>
                <td>
                    @item.Nome
                </td>
                <td class="text-center">
                    @totalHoras
                </td>
                <td class="text-center">
                    @(((totalHorasExtra < TimeSpan.Zero) ? "-" : "") + totalHorasExtra.ToString(@"hh\:mm"))
                </td>
                <td>
                    <button type="button" class="btn-list btn btn-outline-secondary" style="display: block; margin: auto"><a
                        asp-action="Home">Imprimir</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>