@if (TempData["ChatUsers"] != null)
{
    <section class="chat-box" id="chat">
        <p id="chat-receiver-container">@HttpContextAccessor.HttpContext.Session.GetString("UserId")</p>
        <div class="chat-header" id="chat-header">
            <h6>
                <strong>Suporte</strong>
            </h6>
        </div>
        <div class="chat-body">
            <div class="chat-contact-list" id="chat-contacts">
                @foreach (Usuario usuario in JsonConvert.DeserializeObject<List<Usuario>>(TempData["ChatUsers"].ToString()))
                {
                    <div class="chat-contact-list-item" id="user-@usuario.Id">
                        <p>@usuario.Nome</p>
                    </div>
                }
            </div>

            <div class="chat-contact-message" id="chat-messages-box">
                <div class="chat-back-link">
                    <span id="chat-back-button">Voltar</span>
                </div>
                <div class="chat-messages" id="chat-messages">
                    
                </div>
                <div class="chat-input">
                    <div class="chat-input-message">
                        <input type="text" name="chat-input-text" id="chat-input-text" placeholder="Digite sua mensagem..." />
                    </div>
                    <div class="chat-input-sender" id="chat-send-button">
                        <img src="~/images/send.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}