<section class="chat-box" id="chat">
    <div class="chat-header" id="chat-header">
        <h6>
            <strong>Precisa de ajuda?</strong>
        </h6>
    </div>
    <div class="chat-body">
        @*<div class="chat-contact-list">
            <div class="chat-contact-list-item">
                <p>Lucas Silva</p>
            </div>
            <div class="chat-contact-list-item">
                <p>Gabriel Silva</p>
            </div>
            <div class="chat-contact-list-item">
                <p>Pedro Silva</p>
            </div>
        </div>*@

        <div class="chat-contact-message">
            <div class="chat-messages" id="chat-messages">
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-my-message">
                    Salve Mermaozao!
                    <br />
                    <span class="chat-my-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-my-message">
                    Salve Mermaozao!
                    <br />
                    <span class="chat-my-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-my-message">
                    Salve Mermaozao!
                    <br />
                    <span class="chat-my-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-my-message">
                    Salve Mermaozao!
                    <br />
                    <span class="chat-my-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
                <div class="chat-my-message">
                    Salve Mermaozao!
                    <br />
                    <span class="chat-my-message-time">13:44</span>
                </div>
                <div class="chat-sender-message">
                    Salve Caraio
                    <br />
                    <span class="chat-sender-message-time">13:44</span>
                </div>
            </div>
            <div class="chat-input">
                <div class="chat-input-message">
                    <input type="text" name="chat-text" />
                </div>
                <div class="chat-input-sender">
                    <img src="~/images/send.png" />
                </div>
            </div>
        </div>
    </div>
</section>