<section class="chat-box" id="chat">
    <div class="chat-header" id="chat-header">
        <h6>
            <strong>Precisa de ajuda?</strong>
        </h6>
    </div>
    <div class="chat-body">
        <div class="chat-contact-list">
            <div class="chat-contact-list-item"></div>
            <div class="chat-contact-list-item"></div>
            <div class="chat-contact-list-item"></div>
    </div>
</section>