<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <link href="../../wwwroot/relogio.ico" rel="shortcut icon" type="image/x-icon" />  *@
    <title>@ViewData["Title"] - PontoPlus</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatly.css">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Css", required: false)
</head>
<body>
    @{
        if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null)
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo2.png" style="width: 85px; height: auto;" alt="logotipo"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Ponto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="RegistroPontos" asp-action="Index">Espelho de Ponto</a>
                                </li>
                                @using PontoPlus.Manager.Services.Filters
                                @{
                                    if (HttpContextAccessor.HttpContext.Session.GetString("UserDepartamento") == "RH")
                                    {
                                        <li class="dropdown">                                
                                            <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Funcionários<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <a class="nav-link text-dark" asp-controller="Usuarios" asp-action="Index">Listar Funcionários</a>
                                                <a class="nav-link text-dark" asp-controller="Usuarios" asp-action="Create">Adicionar Funcionário</a>
                                                <li role="separator" class="divider"></li>
                                                <a class="nav-link text-dark" asp-controller="Usuarios" asp-action="Relatorio">Relatório de horas</a>
                                            </ul>
                                        </li>
                                    }
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                @using Microsoft.AspNetCore.Http
                                @inject IHttpContextAccessor HttpContextAccessor
                                
                                @{
                                    if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null)
                                    {
                                        <li class="dropdown">
                                            <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@HttpContextAccessor.HttpContext.Session.GetString("UserNome") <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Logout">Sair</a></li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a style="color: white; text-decoration: none;" asp-controller="Home" asp-action="Login">Login</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        }
    }
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center" >
            &copy; 2021 - PontoPlus - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
